MEAN OF GIVEN DATA

In [ ]:
DL=[]
sum=0
mean=0
median=0
mode=0
std=0
varience=0
print("Enter number of data ")
n=int(input())
print("Enter the element")
for i in range(n):
  DL.append(int(input()))

Enter number of data
10
Enter the element
11
1
34
4
2
1
34
23
1
2

Calculating mean of given data set

In [ ]:
for item in DL:
  sum=sum+item
mean=sum/n
print("The mean of given data is",mean)

The mean of given data is 11.3

Calculating the median

In [ ]:
# Now calculating the median
DL.sort()
r=n%2
if r==0:
  m1=n//2
  m2=n//2-1
  median=(DL[m1]+DL[m2])/2
else:
  median=DL[n//2]
print("Median of given data is",(median))

Median of given data is 3.0

Calculating the mode

In [ ]:
dict1={}
for i in range(n):
  k=0
  for item in DL:
    if(DL[i]==item):
      k=k+1
  dict1[DL[i]]=k
  i=i+k
#print(dict1)
m=max(dict1.values())
for key, value in dict1.items():
    if m == value:
      mode=key
      print("Mode of given data set is",key)

Mode of given data set is 1

Calculating standard deviation

In [ ]:
import math
sum=0
for item in DL:
  sum=sum+(item-mean)*(item-mean)
sum=sum/n-1
varience=sum
std=math.sqrt(sum)
print("Standard deviation of given data set is",std)
print("Varience of a given data is",varience)

Standard deviation of given data set is 13.04645545732633
Varience of a given data is 170.20999999999998